<% extend  "../../assets/index.html" %>
<div class="bodyWrap">
    <div class="mainWrap">
    <div class="headWrap">
        <div class="eda-icon">
            OurEDA
        </div>
        <div class="info">
            <div class="info-content">
                <p>微信号bln554565808</p>
                <p>关注后发送内容即可上墙</p>
            </div>
            <div class="info-count">
                <p>61</p>
                <p>条消息</p>
            </div>
        </div>
        <div class="qrcode"></div>
        <div class="clearfix"></div>
    </div>
    <div class="contentWrap">
        <div class="scroll-content">
            <div class="scroll-left">
                <div class="head-img">
                    <i class="elem"></i>
                    <a href="#"></a>
                </div>
            </div>
            <div class="scroll-right">
                <div class="nickname">
                    <span>流年如光：</span>
                </div>
                <div class="message">
                    <span>哈哈，上墙</span>
                </div>
            </div>
        </div>
        <div class="scroll-content">
            <div class="scroll-left">
                <div class="head-img">
                    <i class="elem"></i>
                    <a href="#"></a>
                </div>
            </div>
            <div class="scroll-right">
                <div class="nickname">
                    <span>流年如光：</span>
                </div>
                <div class="message">
                    <span>哈哈，上墙</span>
                </div>
            </div>
        </div>
        <div class="scroll-content">
            <div class="scroll-left">
                <div class="head-img">
                    <i class="elem"></i>
                    <a href="#"></a>
                </div>
            </div>
            <div class="scroll-right">
                <div class="nickname">
                    <span>流年如光：</span>
                </div>
                <div class="message">
                    <span>哈哈，上墙</span>
                </div>
            </div>
        </div>
    </div>
    <div class="footWrap">
        <div class="eda-icon">
        </div>
        <div class="broadcast">

        </div>
    </div>
    </div>
</div>